/* Global text styles */

/* Define a new font-face 'Morpheus' and specify the source file for the font */
@font-face {
    font-family: 'Morpheus';
    src: url("../fonts/Morpheus.ttf");
}

/* Apply the 'Morpheus' font to all elements in the application */
* {
    -fx-font-family: "Morpheus", serif;
}